@import './buttons.css';
@import './buttons-icon.css';
@import './header.css';
@import './hero.css';
@import './wrapper.css';
@import './menu.css';
@import './projects.css';
@import './testimony.css';
@import './message.css';
@import './social.css';

:root {
  --fontBase: 'Poppins', sans-serif;
  --headline1: bold 95px/153px var(--fontBase);
  --headline2: bold 59px/95px var(--fontBase);
  --headline3: bold 48px/77px var(--fontBase);
  --headline4: bold 34px/55px var(--fontBase);
  --headline5: bold 24px/38px var(--fontBase);
  --body1: 16px/25px var(--fontBase);
  --body2: 14px/22px var(--fontBase);
  --button: bold 14px/22px var(--fontBase);
  --caption: 12px/19.42px var(--fontBase);
  --primary: #0d324d;
  --purple: #747de9;
  --green: #42e2b8;
  --white: #e4e5e6;
  --white-transparent: rgba(255, 255, 255, 0.2);
  --yellow: #ffd89b;
  --gradient: radial-gradient(
      41.48% 11.48% at 2.38% 8.52%,
      #747de9 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(to top, #ffd89b 0%, #00416a 100%);
}

body {
  background: var(--gradient);
  min-block-size: 100vh;
  font: var(--body1);
  color: var(--white);
}

body,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

.gradient-text {
  background-image: linear-gradient(
    45deg,
    var(--white),
    var(--yellow),
    var(--white)
  );
  background-color: var(--white);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  animation: gradient 5s linear infinite;
}

@keyframes gradient {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: -10rem 0;
  }

  100% {
    background-position: 0 0;
  }
}
