.testimony {
  padding-block-start: 40px;
  padding-block-end: 80px;
  color: var(--primary);
}

.testimony-comment {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
  padding: 24px;
  position: relative;
  background: var(--white-transparent);
  border-radius: 24px;
}

.testimony-comment::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  padding: 3.98px;
  background: linear-gradient(to top left, transparent, transparent, white);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

.testimony-comment p {
  font-weight: bold;
  font-size: 16px;
}

.testimony-comment span {
  text-transform: uppercase;
  font: var(--caption);
}
